.2_2 { 
	overflow:hidden;
}
.e2_2 { 
	background-color:rgba(166.81249290704727, 166.81249290704727, 166.81249290704727, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e4_16 { 
	transform: rotate(-47.00000143151368deg);
	background-color:rgba(55.25000050663948, 44.81695733964443, 7.827082201838493, 1);
	width:549px;
	height:387px;
	position:absolute;
	left:64.7744750976562px;
	top:15.289794921875px;
}
.e4_15 { 
	transform: rotate(33.49999910367939deg);
	background-color:rgba(35.06250075995922, 12.271876595914364, 31.41600362956524, 1);
	width:449px;
	height:456px;
	position:absolute;
	left:644.6832885742188px;
	top:265px;
}
.e4_14 { 
	background-color:rgba(9.332291632890701, 11.69281616806984, 32.93749898672104, 1);
	width:625px;
	height:513px;
	position:absolute;
	left:-262px;
	top:721px;
}
.e4_13 { 
	transform: rotate(-20.00000065939313deg);
	background-color:rgba(40.65833508968353, 53.1249987334013, 14.166665822267532, 1);
	width:603.7265625px;
	height:472.728271484375px;
	position:absolute;
	left:-277px;
	top:-7.51336669921875px;
	border-radius:16px;
}
.e4_12 { 
	border-radius:500px;
	background-color:rgba(40.37499949336052, 10.934895537793636, 10.934895537793636, 1);
	width:545px;
	height:430px;
	position:absolute;
	left:692px;
	top:-198px;
}
.e2_6 { 
	width:442px;
	height:932px;
	position:absolute;
	left:965px;
	top:46px;
}
.e2_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6000000238418579);
	opacity:0.699999988079071;
	width:434px;
	height:932px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_4 { 
	color:rgba(0, 0, 0, 1);
	width:397px;
	height:55px;
	position:absolute;
	left:24px;
	top:285px;
	font-family:Itim;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e2_5 { 
	color:rgba(0, 0, 0, 1);
	width:408px;
	height:498px;
	position:absolute;
	left:34px;
	top:399px;
	font-family:Itim;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_7 { 
	width:278px;
	height:209px;
	position:absolute;
	left:84px;
	top:38px;
	background-image:url(images/captura_de_pantalla_2023_02_27_185108_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_7 { 
	width:861px;
	height:350px;
	position:absolute;
	left:40px;
	top:57px;
}
.e4_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.699999988079071);
	width:861px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_4 { 
	color:rgba(0, 0, 0, 1);
	width:397px;
	height:55px;
	position:absolute;
	left:33px;
	top:37px;
	font-family:Itim;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e4_5 { 
	color:rgba(0, 0, 0, 1);
	width:792px;
	height:206px;
	position:absolute;
	left:33px;
	top:106px;
	font-family:Itim;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_11 { 
	width:861px;
	height:514px;
	position:absolute;
	left:40px;
	top:464px;
}
.e4_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.699999988079071);
	width:861px;
	height:514px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_8 { 
	color:rgba(0, 0, 0, 1);
	width:397px;
	height:55px;
	position:absolute;
	left:35px;
	top:24px;
	font-family:Itim;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e4_10 { 
	color:rgba(0, 0, 0, 1);
	width:779px;
	height:381px;
	position:absolute;
	left:35px;
	top:98px;
	font-family:Itim;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
