.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1400px;
	height:3000px;
	position:absolute;
}.e1_43 { 
	width:1453px;
	height:3000px;
	position:absolute;
	left:-53px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:1340px;
	height:226px;
	position:absolute;
	left:39px;
	top:45px;
}.e1_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:1340px;
	height:312px;
	position:absolute;
	left:39px;
	top:290px;
}.e1_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:1340px;
	height:344px;
	position:absolute;
	left:39px;
	top:616px;
}.e1_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:1340px;
	height:360px;
	position:absolute;
	left:39px;
	top:983px;
}.e1_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:1340px;
	height:380px;
	position:absolute;
	left:39px;
	top:1354px;
}.e1_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:1340px;
	height:340px;
	position:absolute;
	left:39px;
	top:1756px;
}.e1_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:1340px;
	height:318px;
	position:absolute;
	left:39px;
	top:2113px;
}.e1_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:1340px;
	height:333px;
	position:absolute;
	left:39px;
	top:2442px;
}.e1_23 { 
	width:1318px;
	height:2773px;
	position:absolute;
	left:61px;
	top:54px;
}.e1_24 { 
	width:1318px;
	height:243px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_4 { 
	color:rgba(0, 0, 0, 1);
	width:1025px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_5 { 
	color:rgba(0, 0, 0, 1);
	width:1318px;
	height:183px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_25 { 
	width:1318px;
	height:320px;
	position:absolute;
	left:0px;
	top:243px;
}.e1_8 { 
	color:rgba(0, 0, 0, 1);
	width:1025px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_9 { 
	color:rgba(0, 0, 0, 1);
	width:1318px;
	height:281px;
	position:absolute;
	left:0px;
	top:39px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_26 { 
	width:1306px;
	height:357px;
	position:absolute;
	left:0px;
	top:563px;
}.e1_10 { 
	color:rgba(0, 0, 0, 1);
	width:1025px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_11 { 
	color:rgba(0, 0, 0, 1);
	width:1306px;
	height:317px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_27 { 
	width:1306px;
	height:357px;
	position:absolute;
	left:0px;
	top:946px;
}.e1_12 { 
	color:rgba(0, 0, 0, 1);
	width:1025px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_13 { 
	color:rgba(0, 0, 0, 1);
	width:1306px;
	height:317px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_28 { 
	width:1307px;
	height:367px;
	position:absolute;
	left:0px;
	top:1303px;
}.e1_14 { 
	color:rgba(0, 0, 0, 1);
	width:1025px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_15 { 
	color:rgba(0, 0, 0, 1);
	width:1306px;
	height:317px;
	position:absolute;
	left:1px;
	top:50px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_29 { 
	width:1306px;
	height:357px;
	position:absolute;
	left:0px;
	top:1702px;
}.e1_16 { 
	color:rgba(0, 0, 0, 1);
	width:1025px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_17 { 
	color:rgba(0, 0, 0, 1);
	width:1306px;
	height:317px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_30 { 
	width:1306px;
	height:357px;
	position:absolute;
	left:0px;
	top:2059px;
}.e1_18 { 
	color:rgba(0, 0, 0, 1);
	width:1025px;
	height:79px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_19 { 
	color:rgba(0, 0, 0, 1);
	width:1306px;
	height:317px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_31 { 
	width:1306px;
	height:377px;
	position:absolute;
	left:0px;
	top:2396px;
}.e1_20 { 
	color:rgba(0, 0, 0, 1);
	width:1025px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_21 { 
	color:rgba(0, 0, 0, 1);
	width:1306px;
	height:317px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}